body::-webkit-scrollbar{
    display: none;
  /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge linear-gradient(180deg,black,rgb(0, 78, 180),rgb(122, 166, 207),rgb(177, 209, 228),rgb(122, 166, 207),rgb(0, 78, 180),black)*/
    scrollbar-width: none;
}
.App{
  background: rgb(2, 1, 58);;
  min-height:100vh;
  width:100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.icon{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.5s cubic-bezier(0.34, -0.47, 0.72, 1.37);
  height:60px;
  width:60px;
  background: linear-gradient(90deg,rgb(0, 0, 0),rgb(17, 126, 214)3% 97%,rgb(0, 0, 0));
  border-radius: 10px;
}
.subboat{
  border-radius: 10px;
  background-image: url('./boaticon.png');
  background-size: 60px 60px;
  height: 60px;
  width: 60px;
}
.resizebtn, .boat{
  transition: all 0.3s linear !important;
}
.resizebtn{
  color:white;
  font-family:Roboto;
  background:  rgb(2, 1, 58);
  border-radius: 20px;
  height: 30px;
  display:none;
}
.Boat{
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  display: none;
}
h1{
  font-family: roboto;
  color: white;
  border-radius: 10px;
  border: solid 2px black;
  box-shadow: 0 10px 10px 0 black;
  background: rgb(2, 1, 58);
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text{
  height: 230px;
  padding:20px;
  color:white;
  border-radius: 10px;
  background: rgb(2, 1, 58);
}
p1{
  text-align: center;
  width:80px;
  color:white;
}
img{
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 black;
  height: 0;
  width: 0;
}
.data{
  margin-top:10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background-color:rgb(2, 1, 58);
  color: white;
}
.Add,.Rm{
  display: flex;
  justify-content: center;
  align-items: center;
  width:10px;
  border-radius: 10px;
  padding:3px 6px;
}
.Add{
  position: relative;
  left: -87px;
  bottom: 24px;
}
.Rm{
  position: relative;
  right: -83px;
  bottom: 51px;
}
.renderprenotations{
  border-radius: 10px;
  padding: 20px;
  width: 100px;
  height: 116px;
  background: rgb(2, 1, 58);
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}